/* index.html*/
/*******************************************************************/

/*Estilo para el contenedor*/

#ingreso{
    margin-top: 5em;
    max-width: 50em;
    margin-bottom: 5em;
    
}

/*Estilo para el botón de ingresar*/

#botonIngresar{
   
    margin-top: 0.5em;
     
}





/*******************************************************************/

